<% provide :title, t(".title") %>
<div id="wrapper">
  <div id="body">
    <div id="bigPic">
      <% @places.each do |f| %>
        <%= link_to "" do %>
          <%= image_tag "#{f.url_image}",
            size: Settings.size_big_pic %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="push"></div>
</div>
<div id="footer"></div>
