<div class="hotel">
  <div class="container">
    <div class="hotel-main">
      <div class="hotel-head">
        <h1><%= t "wecome_tour" %></h1>
        <span class="lft-bar-welcom"> </span>
        <span class="rit-bar-welcom"> </span>
      </div>
      <div class="hotel-bottom">
        <div class="experts wow bounceInRight">
          <%= render @tours %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
