@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
.review {
  h1 {
    font-size: 2.0em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: normal;
    font-weight: Arial;
    color: #151515;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.glyphicon {margin-right:5px;}

.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover {
  background: #428bca;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}

.item.list-group-item .thumbnail {
  margin-bottom: 0px;
}

.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item img {
  float: left;
}

.item.list-group-item:after {
  clear: both;
}

.list-group-item-text {
  margin: 0 0 11px;
}
#nav {
  list-style:none;
  margin: 0px;
  padding: 0px;
}

#nav li {
  float: left;
  margin-right: 20px;
  font-size: 14px;
  font-weight:bold;
}

#nav li a {
  color:#333333;
  text-decoration:none
}

#nav li a:hover {
  color:#006699;
  text-decoration:none
}

#notification_li {
  position:relative
}

#notificationContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  top: 30px;
  margin-left: -100px;
  width: 300px;
  z-index: -1;
  display: none;
  float: right;
  position:absolute;
  z-index: 2;
  margin-left: 69%;
  margin-top: 6%
}

#notificationsBody {
  min-height:200px;
  overflow:auto;
}
#notificationFooter {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

#notification_count {
  padding: 3px 7px 3px 7px;
  background: #cc0000;
  color: #ffffff;
  font-weight: bold;
  margin-left: 77px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  position: absolute;
  margin-top: -11px;
  font-size: 11px;
  float: right;
}

.div-notification-not-seen {
  width: 100%;
  height: 20%;
  border-bottom: groove thin;
}

.div-color-red {
  color: crimson;
}

*{outline:none;}

#header {
  height:100px;
  background:transparent url(slideshow.png) no-repeat 50% 16px ;
}

#footer {
  height: 43px;
  padding-top:10px;
  width:979px;
  margin:0pt auto 0px;
}

#footer div p {
  width:979px;
}

#push {
  height: 43px;
  padding-top:10px;
}
#wrapper {
  width:979px;
  min-height: 96%;
  height: auto !important;
  height: 96%;
  text-align:left;
  margin: 0 auto -30px;
  padding:0 10px 0px 10px;
}

.clearfix {
  clear:both;
  float:none;
}

#bigPic {
  width:940px;
  height:300px;
  padding:1px;
  border:1px solid #CCC;
  background-color:#FFF;
  margin-bottom:10px;
}

#bigPic img {
  position:absolute;
  display:none;
}

ul#thumbs li.active {
  border:2px solid #000;
  background:#fff;
  padding:2px;
}

ul#thumbs, ul#thumbs li {
  margin:0;
  padding:0;
  list-style:none;
}

ul#thumbs li {
  float:left;
  margin-right:7px;
  margin-bottom:5px;
  border:1px solid #CCC;
  padding:3px;
  cursor:pointer;
}

ul#thumbs img {
  float:left;
  width:80px;
  height:80px;
  line-height:80px;
  overflow:hidden;
  position:relative;
  z-index:1;
}

.div-content-application {
  position:absolute;
  z-index: 1;
  width: 92%
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
