<div class="about">
  <div class="container">
    <div class="about-main">
      <h1><%= @category.name %></h1>
      <div class="clearfix"></div>
      <div class="hotel-bottom">
        <div class="experts wow bounceInRight">
          <%= render @tours %>
          <div class="clearfix">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
