<%= link_to review do %>
  <div class="col-md-4 project">
    <div class="projectThumbnail">
      <div class="projectThumbnailHover projcet-ro">
        <h4><%= review.title %></h4>
      </div>
      <%= image_tag "#{review.image}",
        class: "img-responsive thumbnailImage" %>
    </div>
  </div>
<% end %>
