<%= link_to place do %>
  <div class="col-md-3 bottom-grid">
    <div class="btm-right">
      <%= image_tag place.image %>
      <div class="captn">
        <h4><%= place.name %></h4>
      </div>
    </div>
  </div>
<% end %>
